@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300&display=swap');
header {
  .v-toolbar__title {
    font-weight: 500;
    font-size: x-large;
    font-family: 'Kanit';
    text-align: center;
    text-transform: uppercase;
   
  }

  .v-toolbar__content {
    @media only screen and (max-width: 10px) {
      align-items: center;
      padding: 0px;
    }
  }
}

.mainHeader {
  .v-toolbar__items {
    .v-btn__content {
      a {
        color: $black;
      }
    }

    .v-btn {
      @media only screen and (max-width: 599px) {
        padding: 0 0 0 10px;
      }
    }
  }
}